.numero1{
    background-color: pink;
}

.numero2{
    background-color: gray;
}

.numero3{
    background-color: blue;
}

.numero4{
    background-color: green;
}

.numero5{
    background-color: yellow;
}

h1{
    background-color: aqua;
}

img{
    width: 400px;
    height: 400px
}